# {{ .Name }} 

Couchbase when creating an index will immediatly start building the index. This means scanning the entire keyspace and 
updating the index as it goes. If you have a large amount of data this can take some time. If you are also planning on 
building other indexes in the collection then this will result in multiple scans.

To work around the issue couchbase allows you to create an index but defer its build. This is really usefaul when building 
multiple indexes in the same collection. Since it can scan the keyspace once and update each index in parallel. 

While the existing couchbase-capella provider gives a way to do deferred index builds if the index was deleted terraform
would only recreate the index but it would never be built again. This action is designed to allow builds to be triggered
any time an index is created.

## Action Per Index
This is not the most efficient way to do this since the keyspace will need to be scanned each time an index is built in 
the same collection. However it its the easiest to implement. In cases where your adding multiple indexes to a new bucket
with no data this will still be fast. Or if you are adding an additional index to an existing bucket it should still be ok.

{{ tffile "examples/actions/capellaextras_build_index/action_per_index.tf" }}

## Building Multiple Indexes
A more efficent method would be to create all of the indexes for a collection then build them at the same time. This will 
mean the key space only needs to be scanned once for all indexes. However this can be challanging due to how the capella
provider implements deferred builds. 

So do to this we can collect all indexes into a `terraform_data` resource that will trigger every apply. This is not an 
issue since any indexes that are already built will be skipped so triggering this on every apply will still be efficient.

{{ tffile "examples/actions/capellaextras_build_index/multi_index_build.tf" }}
 

{{ .SchemaMarkdown }}